PORT=3000
META_VERIFY_TOKEN=harpalpur_123_secure
META_ACCESS_TOKEN=your_meta_token
GOOGLE_CLIENT_EMAIL=your-service@project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"